.dumaloq{
    background-color: dimgray;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 55px;
    box-shadow: 0 0 0 2px inset white;
    border: 3px solid purple;
    background-image: url(../img/1.jpg);
}

.dumaloq1{
    display: flex;
}

.span{
    border-radius: 10px;
    display: block;
    color: aqua;
    background-color: aqua;
    border-radius: 55px;
    width: 20px;
    height: 20px;
    transform: translate(40px,90px);
    box-shadow: 0 0 0 2px inset white;
    background-repeat: no-repeat;
    background-size: cover;
}

.dumaloq-text{
    transform: translate(-75px);
    margin-top: 140px;
}